/* TITLE */
.title {
  text-align: center;
  margin: 25px 0;
  font-size: 34px;
  color: #4e342e;
  font-weight: bold;
}

/* GRID */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

/* CARD */
.food-card {
  background: #fff8f0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 14px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.food-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

/* IMAGE */
.food-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: 0.3s;
}

.food-card:hover img {
  transform: scale(1.1);
}

/* BODY */
.card-body {
  padding: 15px;
  text-align: center;
}

.card-body h3 {
  color: #020e05;
}

/* PRICE */
.price {
  color: #050201;
  font-weight: bold;
}

/* BUTTON */
.card-body button {
  background: linear-gradient(45deg, #c74b1e, #d33403);
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.card-body button:hover {
  transform: scale(1.08);
  background: linear-gradient(45deg, hsl(82, 26%, 29%), #e63313);
}

/* PAGINATION */
.pagination {
  text-align: center;
  margin: 25px 0;
}

.page-btn {
  margin: 6px;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  background: #efebe9;
  color: #d13614;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.page-btn:hover {
  background: #da3b06;
  color: white;
  transform: scale(1.1);
}

.page-btn.active {
  background: #168e16;
  color: white;
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}



 